<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="wrapper">
			<div class="container_fullwidth">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="banner">
								<div class="bannerslide" id="bannerslide">
									<ul class="slides">
										<li><a href="#"> <img
												src="../../images/banner-01.png" width="100%" alt="" />
										</a></li>
										<li><a href="#"> <img
												src="../../images/banner-02.png" width="100%" alt="" />
										</a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="products-list">
								<div th:each="p: ${items}">
									<ul class="products-listItem" th:fragment="product_list">
										<li class="products">
											<div class="thumbnail">
												<a
													th:href="@{|/product/detail/${p.id}?cid=${p.catesmall.category.id}|}">
													<img th:src="@{|../../images/${p.image}|}">
												</a>
											</div>
											<div class="product-list-description">
												<div class="productname" th:utext="${p.name}"></div>
												<p>
													Tên cửa hàng: <a th:href="@{|/product/store/${p.cuahang.id}|}"><span style="color: red;" th:text="${p.cuahang.tencuahang}"></span></a>
												</p>
												<p>
													Loại sản phẩm: <span th:text="${p.catesmall.category.name}"></span>
												</p>
												<p>
													Nhãn hiệu: <span th:text="${p.catesmall.name}"></span>
												</p>
												<p>
													SL hiện có: <span th:text="${p.soluong}"></span>
												</p>
												<div class="list_bottom">
													<div class="price">
														<span class="new_price"
															th:utext="${#numbers.formatDecimal(p.price, 1, 'COMMA', 0, 'POINT')} + ' VNĐ'">
														</span>
													</div>
													<div class="button_group">
														<button class="button"
															th:attr="ng-click=@{|cart.add(${p.id})|}">Thêm
															vào giỏ</button>
														<th:block th:if="${#request.remoteUser}">
															<button class="button"
																th:unless="${#arrays.contains(like, p.id)}"
																th:attr="ng-click=@{|products.like(${p.id})|}">Like</button>
															<button class="button"
																th:if="${#arrays.contains(like, p.id)}"
																th:attr="ng-click=@{|products.dislike(${p.id})|}">Dislike</button>
														</th:block>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>