<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container_fullwidth">
			<div class="container">
				<div class="hot-products">
					<div class="row">
						<div class="col-md-3 col-sm-6" th:each="p: ${items.content}">
							<div class="products">
								<div class="thumbnail">
									<a
										th:href="@{|/product/detail/${p.id}?cid=${p.catesmall.category.id}|}">
										<img th:src="@{|../../images/${p.image}|}">
									</a>
								</div>
								<div style="padding-top: 30px; text-align: center;" class="productname" th:utext="${p.name}"></div>
								<div class="price">
									<span class="new_price"
										th:utext="${#numbers.formatDecimal(p.price, 1, 'COMMA', 0, 'POINT')} + ' VNĐ'">
									</span>
								</div>
								<div class="button_group">
									<div class="button_group">
										<button class="button"
											th:attr="ng-click=@{|cart.add(${p.id})|}">Thêm vào
											giỏ</button>
										<th:block th:if="${#request.remoteUser}">
											<button class="button"
												th:unless="${#arrays.contains(like, p.id)}"
												th:attr="ng-click=@{|products.like(${p.id})|}">Like</button>
											<button class="button"
												th:if="${#arrays.contains(like, p.id)}"
												th:attr="ng-click=@{|products.dislike(${p.id})|}">Dislike</button>
										</th:block>
									</div>
								</div>
							</div>
						</div>
						<div class="toolbar">
							<div class="pager">
								<a th:href="@{|/home/index?p=${items.number-1}|}"
									class="prev-page"> <i class="fa fa-angle-left"></i>
								</a> <a class="active">[[${items.number+1}]] /
									[[${items.totalPages}]]</a> <a
									th:href="@{|/home/index?p=${items.number+1}|}"
									class="next-page"> <i class="fa fa-angle-right"> </i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>