<h3 class="text-center">Quản lý tài khoản</h3>
<div class="panel panel-default" id="a">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3 text-center">
				<label for="image"> <img
					ng-src="{{'/images/' + form.photo}}"
					style="width: 195px; height: 195px">
				</label>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Tên tài khoản</div>
						<input ng-model="form.username" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Mật khẩu</div>
						<input ng-model="form.password" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Họ và tên</div>
						<input ng-model="form.fullname" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Email</div>
						<input ng-model="form.email" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Hình</div>
						<input type="file" class="form-control" id="image"
							onchange="angular.element(this).scope().imageChanged(this.files)">
					</div>
					<div class="form-group col-sm-6">
						<div>Trạng thái?</div>
						<div class="form-control">
							<label class="radio-inline"> <input
								ng-model="form.trangthai" ng-value="true" name="available"
								type="radio">Mở
							</label> <label class="radio-inline"> <input
								ng-model="form.trangthai" ng-value="false" name="available"
								type="radio">Đóng
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-center">
		<button ng-click="create()" class="btn btn-primary">
			<b class="glyphicon glyphicon-plus"></b> Create
		</button>
		<button ng-click="update()" class="btn btn-success">
			<b class="glyphicon glyphicon-save"></b> Update
		</button>
		<button ng-click="delete(form)" class="btn btn-danger">
			<b class="glyphicon glyphicon-trash"></b> Delete
		</button>
		<button ng-click="reset()" class="btn btn-info">
			<b class="glyphicon glyphicon-refresh"></b> Reset
		</button>
	</div>
</div>